html(lang="en")
  head
    link(rel="stylesheet", href=".././assets/scss/theme.scss")
    script(type="module", src=".././assets/js/index.js")
  body
    h1 Hello Pug! From Contact Page
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    a(href=".././index.pug") Home
