html(lang="en")
  head
    link(rel="stylesheet", href="./assets/scss/theme.scss")
    script(type="module", src="./assets/js/index.js")
  body
    h1 Hello Pug! Form Index
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    a(href="./page.pug") Page
    a(href="./pages/concat.pug") Contact
    div.container.py-4.px-3.mx-auto
      h1 Hello Bootstrap and parcel
      button.btn.btn-primary(onClick="pressButton") Click Me
      p.text-custom-color Hello Text
